<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/table.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Medical History</title>

  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.dataTables.min.js"></script>
  <script src="../js/dataTables.bootstrap4.min.js"></script>

  <style>
    .dataTables_wrapper .dataTables_filter {
      float: right;
    }

    .dataTables_wrapper .dataTables_paginate {
      float: right;
    }
    body{
      background-color: rgb(234, 248, 243);
    }
  </style>

</head>

<body>








  <% if (listedjob.length> 0) { %>
    <div class="container mt-5">

      <% // Group the listedjob data by job.title %>
        <% const groupedJobs={}; %>
          <% listedjob.forEach(data=> { %>
            <% if (!groupedJobs[data.jobtitle]) { groupedJobs[data.jobtitle]=[]; } %>
              <% groupedJobs[data.jobtitle].push(data); %>
                <% }); %>
                  <% // Render a table for each job title group %>
                    <% Object.keys(groupedJobs).forEach(jobtitle=> { %>
                      <h3>
                        <% if (groupedJobs[jobtitle][0].jlogo) { %>
                          <!-- Display image if prescriptionPhoto is present -->
                          <img src="/upload/<%= groupedJobs[jobtitle][0].jlogo %>" alt="jlogo"
                            style="max-width: 50px; max-height: 100px;">
                          <% } else { %>
                            <!-- Display a placeholder or leave it empty if no photo is present -->
                            No Photo
                            <% } %>

                              <%= jobtitle %>
                      </h3>


                      <table class="table table-bordered dataTable no-footer" id="dataTable" width="100%"
                        cellspacing="0" role="grid" aria-describedby="dataTable_info">
                        <thead>
                          <tr>
                            <th>Profile Pic</th>
                            <th>Candidate Name</th>
                            <th>Applied Date</th>
                            <th>Email</th>
                            <th>Experience</th>

                            <th>Operations</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% groupedJobs[jobtitle].forEach(data=> { %>
                            <tr>
                              <td>
                                <%= data.jobtitle %>
                              </td>
                              <td>
                                <%= data.appointment_date %>
                              </td>
                              <td>
                                <%= data.description %>
                              </td>
                              <td>
                                <%= data.testname %>
                              </td>
                              <td>
                                <% if (data.prescriptionPhoto) { %>
                                  <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal"
                                    onclick="updateModalImage('/upload/<%= data.prescriptionPhoto %>')">
                                    <img src="/upload/<%= data.prescriptionPhoto %>" alt="Prescription Photo"
                                      style="max-width: 100px; max-height: 100px;">
                                  </a>
                                  <% } else { %>
                                    No Photo
                                    <% } %>
                              </td>
                              <td>
                                <div class="btn-group" role="group">
                                  <a class="btn btn-primary" href="/update/<%= data._id %>">View Profile </a>
                                  <form style="display: inline;" action="/delete/<%= data._id %>?_method=DELETE"
                                    method="POST">
                                    <button style="cursor: pointer;" type="submit"
                                      class="btn btn-danger ml-2">Delete</button>
                                  </form>
                                </div>
                              </td>
                            </tr>
                            <% }); %>
                        </tbody>
                      </table>
                      <% }); %>
    </div>
    <% } else { %>
      <div class="container mt-5">
        <p>No data found for this patient.</p>
      </div>
      <% } %>

        <!-- Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Prescription Photo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img id="modalImage" src="" alt="Prescription Photo" style="max-width: 100%;">
              </div>
            </div>
          </div>
        </div>


















        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script>
          function updateModalImage(imageUrl) {
            var modalImage = document.getElementById('modalImage');
            modalImage.src = imageUrl;
          }
        </script>
        <script src="../assets_DB/bootstrap/js/bootstrap.min.js"></script>
        <script src="../assets_DB/js/chart.min.js"></script>
        <script src="../assets_DB/js/bs-init.js"></script>
        <script src="../assets_DB/js/theme.js"></script>
        <script>
          $(document).ready(function () {
            $('.dataTable').each(function () {


              $(this).DataTable({
                pageLength: 5,
                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']],

                "paging": true,
                "ordering": true,
                "searching": true,
                "info": true,



              });
            });

          });



        </script>



</body>

</html>