<!-- your_view.ejs -->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/table.css">
  <title>Your Posted Jobs </title>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
  <link href="../css/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link rel="../stylesheet" type="text/css" href="css/design.css">
  
  
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.dataTables.min.js"></script>
  <script src="../js/dataTables.bootstrap4.min.js"></script>
  <style>
    body{
    background-color: #caced3;
    }

    th:nth-child(1) {
    background-color: #819cd5;
}
th:nth-child(2) {
    background-color: #819cd5;
}
th:nth-child(3) {
    background-color: #819cd5;
}
th:nth-child(4) {
    background-color: #819cd5;
}
th:nth-child(6) {
    background-color: #819cd5;
}
th:nth-child(7) {
    background-color: #819cd5;
}
th:nth-child(5) {
    background-color: #819cd5;
}
  </style>
  
  </head>
  
  <body>
    <nav class="py-1 navbar navbar-expand-lg" style="background-color: #666b76 !important;">

          <a class="navbar-brand text-white ml-4" href="/"><b>Your Job postings</b></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
  
              <div class="mr-5">
                  <ul class="navbar-nav mr-auto mr-0">
  
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/"><b>home</b></a>
                    </li>
          
  
                      
            
                  </ul>
              </div>
  
          </div>
      </nav>
  



 

  <% if (postedjobs.length > 0) { %>
    <div class="container mt-5">
      <table >
      <thead>
        <tr>
          <div class="col-sm-12">
            <table class="table table-bordered dataTable no-footer" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
          <thead>
             <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 46.2px;">
              logo
            </th>
            <th>Job Title</th>
          
          <th>posted date</th>
          
          <th>Deadline </th>
          <th>Required MinEX</th>
          <th>Vacancies</th>
          <th>Operations</th>
          

          
        </tr>
      </thead>
      <tbody>
        <% postedjobs.forEach(data => { %>
          <tr role="row" class="even">
            <td><% if (data.jlogo) { %>
                
                  <img src="/upload/<%= data.jlogo %>" alt="jlogo"
                    style="max-width: 50px; max-height: 100px;">
                  <% } else { %>
                    
                    No Photo
                    <% } %></td>

            <td><b></b><%= data.jobtitle %></td>
            <td><b></b><%= data.jobpostedDate.toISOString().split('T')[0]%> %></td>
            <td><b></b><%= data.deadline.toISOString().split('T')[0]%> %></td>
            <td><b></b><%= data.experience %> years</td>
            <td><b></b><%= data.vacancy %> </td>
      
           
            

            <td style="display: flex; flex-direction: column; align-items: center;">
              <div class="btn-group" role="group" aria-label="Operations" style="margin-bottom: 5px;">
                  <a class="btn btn-success" href="/candidates/<%= data._id %>">Candidates</a>
              </div>
              <div class="btn-group" role="group" aria-label="Operations" style="margin-bottom: 5px;">
                  <a class="btn btn-primary" href="/apply/<%= data._id %>">View Details</a>
              </div>
              <div class="btn-group" role="group" aria-label="Operations">
                

                <form style="display: inline;" action="/delete/<%= data._id %>?_method=DELETE"
                  method="POST" class="delete-form">
                  <button style="cursor: pointer;" type="submit" class="btn btn-danger">Remove</button>
                </form>


              </div>
          </td>
          
          
         
            </tr>
            <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <p>There is No Applied Jobs </p>
  <% } %>
          </div>
  <script src="js/employee.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var deleteForms = document.querySelectorAll(".delete-form");
      deleteForms.forEach(function (form) {
        form.addEventListener("submit", function (event) {
          var confirmDelete = confirm("Are you sure you want to remove this job?");
          if (!confirmDelete) {
            event.preventDefault();
          }
        });
      });
    });
  </script>


  <script>
    function updateModalImage(imageUrl) {
      var modalImage = document.getElementById('modalImage');
      modalImage.src = imageUrl;
    }
  </script>


</body>
</html>


